.items-wrap {
  max-width: 1000px;
  margin: 1rem auto 0;
  display: flex;
}

.items-view {
  width: 300px;
  margin-left: 2rem;
  background: #e2e2e2;
  padding: 0.6rem;
}
.items__title {
  font-size: 1.3rem;
}
.nav {
  display: flex;
  margin-bottom: 1rem;
}
.nav__item {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #61dafb;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px solid #000;
  transition: all 0.2s ease-out;
}
.nav__item:last-of-type {
  border-right: 0;
}
.nav__item:hover {
  background: #0ea7d1;
  color: white;
  text-decoration: none;
}

.pokemon {
  max-width: 220px;
  box-shadow: 0 0 8px rgb(146, 153, 251);
}
.pokemon_sm {
  max-width: 120px;
}
.pokemon__title {
  padding: 1rem 0;
  display: block;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(6, 116, 167, 0.753);
}
.pokemon__title_sm {
  font-size: 1rem;
  text-transform: none;
}
.pokemon__img-box {
  padding: 1rem;
  text-align: center;
}
.pokemon__img-box img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.pokemon__img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.pokemon-error {
  padding: 1rem;
  font-size: 1.4rem;
  border: 1px dotted red;
}
.pokemon-error__btn {
  background: rgb(246, 10, 195);
  color: white;
  border: 0;
  padding: 3px 12px;
  margin: 1rem 0;
}
.pokemon-load {
  opacity: 0.6;
  transition: opacity 0;
  transition-delay: 1s;
}
.list-collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1rem;
}
.list-collection__item {
  padding: 0.3rem;
  border: 1px double tomato;
  text-align: center;
  cursor: pointer;
}

.hide {
  display: none;
}
.show {
  display: block;
}
